{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "shippedProposals": true,
        "targets": {
          "firefox": "63"
        }
      }
    ]
  ]
}
